.dataContainer5 {
  width: 100%;
  text-align: center;
  background: rgb(255, 99, 71);
  background: linear-gradient(
    180deg,
    rgba(255, 99, 71, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding-bottom: 150px;
}

.dataContainer5TitleCont {
  padding: 30px 0;
}
.dataContainer5Title {
  font-size: 35px;
}

.blackboardCont {
  background-image: url("../../images/blackboard.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}

.blackboardContData {
  padding-top: 70px;
}

.blackboardContP {
  font-weight: bold;
}
.blackboardContP2 {
  padding-top: 20px;
  font-weight: bold;
}

.blackboardCont p {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0;
  color: white;
}
