.aboutContainer {
  overflow-x: hidden;
  overflow-y: hidden;
}

.aboutTitleContainerGeneral {
  background-color: #262626;
  /* max-width: 1300px; */
  margin: 0 auto;
  padding-top: 80px;
  height: 100vh;
  text-align: center;
}
.aboutTitleContainer {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.aboutTitle {
  font-size: 40px;
  padding-top: 10px;
  position: absolute;
  color: rgb(192, 192, 192);
  letter-spacing: 5px;
  z-index: 0;
  color: tomato;
}

.aboutLeaf {
  width: 40%;
}

.leaf {
  width: 50px;
}

.chive,
.carrot {
  width: 70px;
}

.container {
  text-align: center;
}
.wave {
  background-color: white;
  width: 100%;
}

.dataContainer2 {
  background-color: white;
}

.chefContainerTitle {
  text-align: center;
  padding-top: 15px;
  background-image: url("../images/waveAbout1.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.chefTitle {
  /* margin: 0; */
  padding-top: 20px;
  font-size: 40px;
}

@media only screen and (min-width: 700px) {
  .aboutTitle {
    font-size: 60px;
  }
  .aboutLeaf {
    width: 60%;
  }

  .leaf {
    width: 80px;
  }

  .chive,
  .carrot {
    width: 90px;
  }
}
