.dataContainer4 {
  background-color: #f0f8ff;
  text-align: center;
  padding-bottom: 30px;
}

.dataContainer4GeneralCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dataContainer4Title {
  padding-top: 30px;
  font-size: 35px;
}

.dataContainer4ContentCont div {
  background-color: #1f610d;
  border-radius: 5px;
  padding: 10px;
}

.dataContainer4Button {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.dataContainer4Button:hover {
  color: #ff6347;
}

.springrolsCont {
  margin-top: 50px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.springrolsImage {
  margin-top: 50px;
  width: 80%;
}

.chive {
  width: 70%;
  transform: scaleX(-1);
}

.chive2 {
  width: 70%;
}

@media only screen and (min-width: 700px) {
  .chive,
  .chive2 {
    width: 50%;
  }
  .springrolsImage {
    width: 65%;
  }
}

@media only screen and (min-width: 900px) {
  .springrolsImage {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .dataContainer4GeneralCont {
    width: 80%;
    margin: 0 auto;
  }
  .springrolsImage {
    width: 30%;
  }
}
@media only screen and (min-width: 1900px) {
  .dataContainer4GeneralCont {
    width: 60%;
    margin: 0 auto;
  }
  .springrolsImage {
    width: 20%;
  }
}
