.dataContainer4 {
  background-color: aliceblue;
  text-align: center;
  padding-bottom: 30px;
}

.dataContainer4GeneralCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dataContainer4Title {
  padding-top: 30px;
  font-size: 35px;
}

.dataContainer4Button {
  font-size: 20px;
  padding: 10px;
  background-color: #1f610d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.dataContainer4Button:hover {
  color: #ff6347;
}

.springrolsCont {
  width: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
}

.springrolsImage {
  margin-top: 50px;
  width: 80%;
}

.chive {
  width: 70%;
  transform: scaleX(-1);
}

.chive2 {
  width: 70%;
}
