.dataContainer3 {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(154, 188, 168);
  background: linear-gradient(180deg, #9abca8 0%, #ff6347 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer3TitleCont {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  background-color: #9abca8;
}

.dataContainer3Title {
  width: 250px;
  margin: 0 20px 0 0;
  font-size: 35px;
}

.dataContainer3MenuContainer {
  width: 100%;
}

.dataContainer3Menu {
  margin-left: 30px;
  padding: 10px;
  text-decoration: none;
  border: 3px solid tomato;
  border-radius: 5px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  color: black;
}

.dataContainer3Menu:hover {
  box-shadow: 0 0 20px tomato;
}
.dataCont3RotatingPlate {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}
.dataContainer3Img {
  width: 90%;
}

@media only screen and (min-width: 550px) {
  .dataContainer3Title {
    width: 100%;
    margin: 0 20px 0 0;
    font-size: 35px;
  }

  .dataCont3RotatingPlate {
    margin-top: -50px;
  }

  .dataContainer3Img {
    width: 70%;
  }

  .dataContainer3Menu {
    letter-spacing: 10px;
  }
}

@media only screen and (min-width: 700px) {
  .dataContainer3TitleCont {
    text-align: center;
  }
  .dataContainer3 {
    padding-left: 50px;
    padding-right: 50px;
  }
  .dataCont3RotatingPlate {
    width: 100%;
    margin-top: -50px;
  }
}

@media only screen and (min-width: 1100px) {
  .dataContainer3MenuContainer {
    text-align: center;
  }
  .dataContainer3 {
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
  }
  .dataCont3RotatingPlate {
    width: 100%;
    margin-top: 0px;
  }
  .dataContainer3Img {
    width: 90%;
  }
}
@media only screen and (min-width: 1600px) {
  .dataContainer3Img {
    width: 70%;
  }
}
@media only screen and (min-width: 1900px) {
  .dataContainer3MenuContainer {
    text-align: right;
  }
  .dataContainer3 {
    height: 600px;
  }
  .dataContainer3Menu {
    letter-spacing: 15px;
  }
}
