.dataContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 900px) {
  .dataContainer {
    flex-direction: row;
    /* background: rgb(255, 255, 255);
    background: linear-gradient(
      77deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 99, 71, 1) 67%
    ); */
  }
}
