.headerImg {
  height: 100vh;
  background-image: url(../images/bannerImg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: hidden;
}

.titleh2 {
  color: tomato;
  text-align: center;
  font-size: 35px;
  text-align: center;
  padding: 0 13px 0 13px;
  /* margin: 0; */
  margin-top: 130px;
  margin-bottom: 0px;
}
.titleh1 {
  color: white;
  font-size: 55px;
  margin: 0;
}

.chilliContainer {
  transform: rotate(340deg);
  width: 120%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.chilli {
  width: 70%;
}

.dataContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.dataContainerDiv1 {
  /* background-color: rgb(255, 156, 156); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.dataContainerDiv1Description {
  font-size: 25px;
  padding: 10px 15px;
}

.dataContainerDiv2 {
  background-color: tomato;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}

.dataContainerDiv2Description {
  font-size: 35px;
}

.sushi {
  overflow-x: hidden;
  overflow-y: hidden;
}

.sushiimg {
  width: 90%;
}

.chopContainer {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.leftChop,
.rightChop {
  /* width: 60%; */
  width: 20px;
}

.sushiIng {
  width: 150px;
  height: 150px;
}

.dataContainer2 {
  background-image: url("../images/popDishBack.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer2TitleContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.dataContainer2Title {
  padding: 0 15px;
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.popDishContainer {
  display: flex;
  flex-direction: column;
}

.sushi8 {
  width: 50px;
}

.dataContainer3 {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(154, 188, 168);
  background: linear-gradient(180deg, #9abca8 0%, #ff6347 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer3TitleCont {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.dataContainer3Title {
  width: 250px;
  margin: 0 20px 0 0;
  font-size: 35px;
}

.dataContainer3MenuContainer {
  width: 100%;

  /* text-align: left; */
}
.dataContainer3Menu {
  margin-left: 30px;
  /* margin-top: 30px; */
  padding: 10px;
  text-decoration: none;
  border: 3px solid tomato;
  border-radius: 5px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  color: black;
}

.dataContainer3Menu:hover {
  box-shadow: 0 0 20px tomato;
}
.dataCont3RotatingPlate {
  width: 100%;
  padding-top: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}
.dataContainer3Img {
  width: 90%;
}

.dataCont3Menu {
  width: 100%;
}

.dataCont3MenuList {
  list-style: none;
  text-align: right;
  margin-right: 25px;
  font-size: 25px;
}
.dataCont3MenuList li {
  padding: 5px 0;
}
.dataCont3MenuListItem {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  padding: 5px 0;
}

.dataCont3MenuListItem:hover {
  color: white;
}

.dataContainer4 {
  background-color: aliceblue;
  text-align: center;
  padding-bottom: 30px;
}

.dataContainer4GeneralCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dataContainer4Title {
  padding-top: 30px;
  font-size: 35px;
}

.dataContainer4Button {
  font-size: 20px;
  padding: 10px;
  background-color: #1f610d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.dataContainer4Button:hover {
  color: #ff6347;
}

.springrolsCont {
  width: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
}

.springrolsImage {
  margin-top: 50px;
  width: 80%;
}

.chive {
  width: 70%;
  transform: scaleX(-1);
}

.chive2 {
  width: 70%;
}

.dataContainer5 {
  width: 100%;
  text-align: center;
  background: rgb(255, 99, 71);
  background: linear-gradient(
    180deg,
    rgba(255, 99, 71, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding-bottom: 150px;
}

.dataContainer5TitleCont {
  padding: 30px 0;
}
.dataContainer5Title {
  font-size: 35px;
}

.blackboardCont {
  background-image: url("../images/blackboard.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}

.blackboardContData {
  padding-top: 60px;
}

.blackboardContP {
  font-weight: bold;
}
.blackboardContP2 {
  padding-top: 20px;
  font-weight: bold;
}

.blackboardCont p {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0;
  color: white;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.social {
  font-size: 30px;
  color: tomato;
  padding: 40px 25px;
}

@media only screen and (min-width: 300px) {
}

@media only screen and (min-width: 700px) {
  .titleh2 {
    font-size: 45px;
  }
  .titleh1 {
    font-size: 65px;
  }
}

@media only screen and (min-width: 1200px) {
  .titleh2 {
    font-size: 45px;
  }
  .titleh1 {
    font-size: 75px;
  }
}

@media only screen and (min-width: 1400px) {
  .titleh2 {
    font-size: 55px;
  }
  .titleh1 {
    font-size: 85px;
  }
}

@media only screen and (min-width: 1600px) {
  .titleh2 {
    font-size: 75px;
  }
  .titleh1 {
    font-size: 125px;
  }
}
