.headerImg {
  height: 100vh;
  background-image: url(../images/bannerImg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: hidden;
}

.titleh2 {
  color: tomato;
  text-align: center;
  font-size: 35px;
  text-align: center;
  padding: 0 13px 0 13px;
  /* margin: 0; */
  margin-top: 130px;
  margin-bottom: 0px;
}
.titleh1 {
  color: white;
  font-size: 55px;
  margin: 0;
}

.chilliContainer {
  transform: rotate(340deg);
  width: 120%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.chilli {
  width: 70%;
}

.dataContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.dataContainerDiv1 {
  /* background-color: rgb(255, 156, 156); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.dataContainerDiv1Description {
  font-size: 25px;
  padding: 10px 15px;
}

.dataContainerDiv2 {
  background-color: tomato;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}

.dataContainerDiv2Description {
  font-size: 35px;
}

.sushiimg {
  width: 300px;
}

.chopContainer {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.leftChop,
.rightChop {
  /* width: 60%; */
  width: 20px;
}

.sushiIng {
  width: 150px;
  height: 150px;
}

.dataContainer2 {
  background-image: url("../images/popDishBack.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer2TitleContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.dataContainer2Title {
  padding: 0 15px;
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.popDishContainer {
  display: flex;
  flex-direction: column;
}

.sushi8 {
  width: 50px;
}

.dataContainer3 {
  padding-top: 50px;
  background: rgb(154, 188, 168);
  background: linear-gradient(
    180deg,
    rgba(154, 188, 168, 1) 0%,
    rgba(255, 99, 71, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer3Title {
  text-align: center;
  font-size: 35px;
  margin: 0;
}

.dataContainer3MenuContainer {
  width: 100%;

  /* text-align: left; */
}
.dataContainer3Menu {
  margin-left: 30px;
  margin-top: 30px;
  padding: 10px;
  text-decoration: none;
  border: 3px solid tomato;
  border-radius: 5px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  color: black;
}

.dataContainer3Menu:hover {
  box-shadow: 0 0 20px tomato;
}

.dataContainer3Img {
  width: 400px;
}

@media only screen and (min-width: 300px) {
}

@media only screen and (min-width: 700px) {
  .titleh2 {
    font-size: 45px;
  }
  .titleh1 {
    font-size: 65px;
  }
}

@media only screen and (min-width: 1200px) {
  .titleh2 {
    font-size: 45px;
  }
  .titleh1 {
    font-size: 75px;
  }
}

@media only screen and (min-width: 1400px) {
  .titleh2 {
    font-size: 55px;
  }
  .titleh1 {
    font-size: 85px;
  }
}

@media only screen and (min-width: 1600px) {
  .titleh2 {
    font-size: 75px;
  }
  .titleh1 {
    font-size: 125px;
  }
}
