.menuContainer {
  background-color: black;
  min-height: 100vh;
  background-image: url("../images/popDishBack2.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.titleContainer {
  text-align: center;
}

.title {
  color: rgb(192, 192, 192);
  font-size: 40px;
  letter-spacing: 5px;
}

.menuMixContainer {
  text-align: center;
}

.menuMixImg {
  width: 60%;
}

.menuListContainer {
  max-width: 700px;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.menuItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed tomato;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.menuItemTitle {
  color: aliceblue;
  font-size: 30px;
  margin-bottom: 0;
}

.menuItemPrice {
  color: aliceblue;
  font-size: 30px;
  margin-bottom: 0;
}

.menuItemPriceCent {
  color: tomato;
}

.menuFooterContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.menuFooterPlate {
  width: 90%;
  max-width: 700px;
}
